.job-card{
  border: 1px solid #F8C0C8;
  margin: 3vw;
}

button{
  background: #F8C0C8;
  height: 6vh;
  width: 100%;
  border: none;
}
a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}